/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto; /* 1fr 1fr 1fr auto; */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fddde6;
}
.header { 
  grid-area: 1 / 1 / 2 / 6; /* row start, column start, row end, column end */
  text-align: center;
  background-color: pink;
  color: white;
}
.title {
  font-size: 70px;
  vertical-align: middle;
  text-align: center;
  font-family: "Emilys Candy", serif;
  font-weight: bold;
  font-style: normal;
}
.buttons {
  font-size: 20px;
  padding-top: 20px;
  font-weight: bold;
  font-family: "Emilys Candy", serif;
  font-weight: bold;
  font-style: normal;
}


/* MAIN SECTION */
main {
  display: contents;
}
.box-one { 
  grid-area: 2 / 2 / 3 / 5; 
}
.box-two { 
  grid-area: 3 / 2 / 4 / 5; 
}
.box-three { 
  grid-area: 4 / 2/ 5/ 5; 
} 
.box-one, .box-two, .box-three {
  display: flex; 
  padding: 20px 20px 0 20px; 
  margin: 10px 0;
  background-color: white; 
  align-items: flex-start;
}
.box-one img, .box-two img, .box-three img {
  width: 150px; 
  padding-right: 30px;
  padding-bottom: 20px;
}
.box-one h1, .box-two h1, .box-three h1 {
  margin: 0 0 10px 0; 
  font-size: 30px; 
}
.box-one p, .box-two p, .box-three p {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.text-box {
  display: flex;
  flex-direction: column;
}
.description-one, .description-two, .description-three {
  padding-bottom: 10px;
}
.box-one-content, .box-two-content, .box-three-content {
  display: flex;
}


/* FOOTER */
.footer { 
  grid-area: 5 / 1 / 6 / 6; 
  background-color: gray;
  position: sticky;
  color: white;
}
.footer-text {
  text-align: center;
  vertical-align: middle;
}


/* MEDIA QUERIES */
@media (max-width: 850px) {
  .header {
    padding: 20px 0;
  }
  .title {
    font-size: 50px;
  }
  .buttons{
    padding-top: 0;
  }
  .box-one, .box-two, .box-three {
    width: 100%;
    gap: 25px;
  }
  .box-one img, .box-two img, .box-three img {
    width: 90%;
    padding-bottom: 20px;
  }
  .box-one-content, .box-two-content, .box-three-content {
    flex-direction: column;
    align-items: center;
  }
}