
/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #fddde6;
}

.header { 
  grid-area: 1 / 1 / 2 / 6; /* row start, column start, row end, column end */
  text-align: center;
  background-color: pink;
  color: white;
}

.title {
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
}

.buttons {
  font-size: 16px;
  padding-top: 16px;
  font-weight: bold;
}



/* BODY */
.box-one { 
  grid-area: 2 / 2 / 3 / 5; 
}

.box-two { 
  grid-area: 3 / 2 / 4 / 5; 
}

.box-three { 
  grid-area: 4 / 2/ 5/ 5; 
} 

.box-one, .box-two, .box-three {
  display: flex; 
  gap: 50px; 
  padding: 20px; 
  background-color: white; 
  align-items: flex-start;
}

.box-one img, .box-two img, .box-three img {
  width: 150px; 
}

.box-one h1, .box-two h1, .box-three h1 {
  margin: 0 0 10px 0; 
  font-size: 30px; 
}

.box-one h2, .box-two h2, .box-three h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}

.text-box {
  display: flex;
  flex-direction: column;
}



/* FOOTER */
.footer { 
  grid-area: 5 / 1 / 6 / 6; 
  background-color: gray;
  position: sticky;
  color: white;
  text-align: center;
}



/* MEDIA QUERIES 
@media (orientation: portrait) {
  .header {
    height: 100%;
  }

  .title {
    font-size: 40px;
  }

  .box-one, .box-two, .box-three {
    width: 100%;
    gap: 25px;
  }

  .box-one img, .box-two img, .box-three img {
    width: 30%;
  }

}
*/